.profile {
  width: 300px;
  height: 500px;
  border-radius: 5%;
  background-color: aquamarine;
  margin: 0 auto;
  text-align: center;
}

.avatar {
  width: 300px;
}

.name {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}
.stats {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
}
.stats:not(:last-child) {
  margin-right: 10px;
}

.quantity {
  margin-top: 5px;
  font-weight: bold;
  display: block;
}
